.time-sup {
  font-size: 10px;
  vertical-align: super;
}
.today {
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 160px);
    justify-content: space-between;
    row-gap: 20px;
  }
}
